.estilo-p {
    font-size: calc(0.3em + 1vw);
}

.estilo-h6 {
    font-size: calc(0.4em + 1vw);
}

.estilo-h1 {
    font-size: calc(1.4em + 1.5vw);
}

.estilo-h2 {
    font-size: calc(1em + 1.5vw);
}

.estilo-b {
    font-size: calc(0.2em + 1vw);
}

.estilo-s {
    font-size: calc(0.4em + 0.7vw);
}

.foot-color {
    background-color: #1C4154;
}

.boton {
    background-color: rgba(134, 214, 13, 0.773);
}

#errorNombre, #errorApellido, #errorMail, #errorCantidad {
    color: red;
    margin-left: 10px;
}